@import "../utils/colors";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

%side-title {
    text-transform: uppercase;
    color: $primaryText;
    letter-spacing: 1px;
    margin: 0;
    padding-left: 60px;
    font-size: 16px; // 14
    font-weight: 300;
    font-family: 'Raleway';
}

%side-title-active {
    font-weight: 700;
    color: $secondary;
}

#SideBar {
    float: left;
    width: 260px;
    height: 100%;
    border-right: 1px #eee solid;
    font-family: 'Heebo', sans-serif;

    .Logo {
        margin: 60px;
        margin-bottom: 75px;
    }

    a {
        width: 100%;
        text-decoration: none;

        h3 {
            @extend %side-title;
            height: 50px;
        }

        &.active h3 {
            @extend %side-title-active;
        }

        &.active div {
            position: absolute;
            background: $primary;
            margin-top: 7.5px;
            height: 3px;
            width: 30px;
        }

    }

    #Featured {
        margin-top:50px;

        h3 {
            @extend %side-title, %side-title-active;
            height: 50px;
        }

        a {
            @extend %side-title;
            height: 65px;
        }

    }
}