@import "../utils/colors";

#Featured {
    width: 100%;
    a {
        height: 75px;
        display: block;

        img {
            // circle
            $side: 35px;
            height: $side;
            width: $side;
            border-radius: 50%;

            background: #ccc;
            border: none;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            line-height: 14px;
            text-transform: none;
            margin-left:20px;
        }
    }
}
